<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header fragment</title>
</head>
<body>
<div class="header" th:fragment="header">
    <a class="active" href="/">Home</a>
    <a href="/api/chocolates">Chocolate</a>
    <a href="/api/cookies">Cookies</a>
    <a href="/api/sweets">Sweets</a>
    <a href="/api/brands">Brands</a>
    <a href="/api/stores">Stores</a>
    <a href="/api/suppliers">Suppliers</a>
    <a href="/api/addresses">Addresses</a>
    <a href="/api/phone_numbers">Contacts</a>
    <a href="/login">Sign in</a>
    <a href="/api/cart">Cart</a>
    <a sec:authorize="isAuthenticated()" href="/user">User</a>
</div>
</body>
</html>